<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/category.css">
    <title>Homepage</title>
  </head>
  <body>
  <%- include('./partials/nav') %>

      <div class="category-container">

        <div class="category-box">
            <a href="/blog/category/mobiles">Mobiles</a>
        </div>
        <div class="category-box">
            <a href="/blog/category/laptops">Laptops</a>
        </div>
        <div class="category-box">
            <a href="/blog/category/cycles">Cycles</a>
        </div>
        <div class="category-box">
            <a href="/blog/category/coolers">Coolers</a>
        </div>
        <div class="category-box">
            <a href="/blog/category/random">Random</a>
        </div>
        <div class="category-box">
            <a href="/blog/category/all">All Items</a>
        </div>

      </div>

  
  <%- include('./partials/scripts') %>
</body>
</html>
